<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HMLL</title>
    <link rel="stylesheet" href="/src/styles/section.css">
</head>
<body>
    <section class="container">
        <div class="container__profile">
           <img class="container__profile--image" src="/src/assets/profile.jpeg" alt="Foto de perfil">
           <p class="container__profile--name"> Humberto López</p>
           <p class="container__profile--profession"> Frontend Developer </p>
           <p class="container__profile--short-biography"> Soy un apasionado de desarrollar proyectos con enfoque a jovenes y ayudarlos a llevar sus ideas a la realidad  </p>
           <p class="container__profile--location"> México, CDMX </p>
           <ul class="container__profile--socialmedia">
             <li>
                <a href=""> <img src="/src/assets/instagram (1).svg" alt="Link a mi Instagram"></a>
             </li>
             <li>
                <a href=""><img src="/src/assets/github.svg" alt="Link a mi GitHub"></a>
             </li>
             <li>
                <a href=""> <img src="/src/assets/linkedin.svg" alt="Link a mi Linkedin"> </a>
             </li>
             <li>
                <a href=""><img src="/src/assets/twitter (2).svg" alt="Link a mi Twitter"></a>
             </li>
           </ul>
        </div>
        <div class="container__grow">
            <h2 class="container__grow--about">Educación</h2>
            <h4 class="container__grow--title">Licenciado en Memes 2015-2019</h4>
            <p class="container__grow--description">Durante mi licenciatura en memes realice varias aportaciones a la industria</p>
            <h4 class="container__grow--title">Maestría en Tik Tok</h4>
            <p class="container__grow--description">En la maestría en Tik Tok colabore con Juanpa Zurita</p>
            <div class="container__grow">
                <h2 class="container__grow--about">Educación</h2>
                <h4 class="container__grow--title">Licenciado en Memes 2015-2019</h4>
                <p class="container__grow--description">Durante mi licenciatura en memes realice varias aportaciones a la industria</p>
                <h4 class="container__grow--title">Maestría en Tik Tok</h4>
                <p class="container__grow--description">En la maestría en Tik Tok colabore con Juanpa Zurita</p>
    
            </div>
        </div>
       
        
        <div class="container__skills">
           <h1 class="container__skills--name">Humberto Skills</h1>
            <ul class="container__skills--list">
            <li class="container__skill--technology" >HTML 80%</li>
            <li class="container__skill--technology" >CSS 60%</li>
            <li class="container__skill--technology" >JavaScript 85%</li>
            <li class="container__skill--technology" >React 90%</li>
            </ul>

        </div>

    </section>
</body>
</html>